{% set h = page.header %}
{% set elems = h.elems %}
<section id="plus" class="{{ h.main_class }}" style="{{ h.style }}">
    <div class="container clearfix">
        {% for elem in elems %}
        <div class="col_half nobottommargin {% if loop.last %}col_last{% endif %}">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    {% if elem.link_image %}<a href="{{elem.link_image}}" title="{{ elem.title }}">{% endif %}
                    <img src="{{elem['file']|first['path']}}" alt="{{ elem.title }}">
                    {% if elem.link_image %}</a>{% endif %}
                </div>
                <div class="fbox-desc">
                    <h3>{{ elem.title }}<span class="subtitle">{{ elem.subtitle }}</span></h3>
                    <p>{{ elem.desc }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
</section>