{% extends 'layout/base.html.twig' %}

{% block body %}
    {% include 'partials/_title.html.twig' %}

	<div class="container ">
		<div class="content-wrap">
	 	{% set childrens = page.children.order('date', 'desc') %}
			{% if count(childrens) > 0 %}
	 
			<div id="related-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="20" data-pagi="false" data-autoplay="5000" data-items-xs="1" data-items-sm="2" data-items-md="3"  data-items-xl="4">

				{% for p in childrens %}
				    <div class="oc-item">
				        <div class="iportfolio">
				            <div class="portfolio-image">
				                <a href="{{p.url}}">
				                    <img src="{{(p.media.images|first).url}}" alt="{{p.title}}">
				                </a>
				                <div class="portfolio-overlay">
				                    <a href="{{p.url}}" class="center-icon"><i class="icon-line-ellipsis"></i></a>
				                </div>
				            </div>
				            <div class="portfolio-desc">
				                <h3><a href="{{p.url}}">{{p.title}}</a></h3>
				            </div>
				        </div>
				    </div>
				{% endfor %}
		 
			</div><!-- .portfolio-carousel end -->
		{% endif %}
		</div>
	</div>

{% endblock %}