<div class="col_three_fifth topmargin-sm bottommargin">
	<img data-animate="fadeInLeftBig" src="{{root_url}}/{{conf['file']|first['path']}}" alt="{{conf.title}}">
</div>
<div class="col_two_fifth topmargin-sm bottommargin-lg col_last">
   
	<div class="heading-block topmargin">
		<h2>{{conf.title}}</h2>
		<span>{{conf.subtitle}}</span>
	</div>
	<p>{{conf.desc}}</p>
	<a href="{{conf.link}}" class="button button-border button-rounded button-large noleftmargin topmargin-sm">{{conf.link_title}}</a>
</div>
<div class="line"></div>