<!-- Top Bar
		============================================= -->
		<div id="top-bar">

			<div class="container clearfix">

				<div class="col_half nobottommargin clearfix">

					<!-- Top Social
					============================================= -->
					<div id="top-social">
						<ul>
							{% for social in site.social %}
					         <li><a href="{{social.url}}" class="si-{{social.class}}"><span class="ts-icon"><i class="icon-{{social.class}}"></i></span><span class="ts-text">{{social.name}}</span></a></li>

				    		{% endfor %}
				    	</ul>
					</div><!-- #top-social end -->

				</div>

				<div class="col_half fright col_last clearfix nobottommargin">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul class="sf-js-enabled">
							{% include 'partials/langswitcher.html.twig' %}
							<li><a href="faqs.html">FAQs</a></li>
 
							
							<li><a href="{{ page.find('/contatti').url }}">{{ page.find('/contatti').title }}</a></li>
						</ul>
					</div><!-- .top-links end -->

				</div>

			</div>

		</div><!-- #top-bar end -->
